.logo {
    align-items: center;
}

.logo img {
    width: 4em;
}

.brands {
    color: #175676;
    text-transform: capitalize;
    text-align: center;
    font-size: 2em;
}

.models {
    color: #4BA3C3;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;

}

.CardContainer {
    margin-top: 2em;
    margin-bottom: 2em;
}