.logo {
    align-items: center;
}

.logo img {
    width: 4em;
}

.brand {
    color: blueviolet;
    text-transform: capitalize;
    text-align: center;
    font-size: 2em;
}

.model {
    color: #BA324F;
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5em;

}