#Hamb {
    margin-top: 2em;
    margin-left: 2em;
    height: 3em;
    width: auto;
}

.offinternal {
    background-color: #175676;
}

#offbody {
    display: flex;
    align-items:center;
}

.offtext {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.offtext a {
    color: #CCE6F4;
    font-size:350%;
    text-decoration: none;
    text-transform: capitalize;
}

.offtext a:hover {
    text-decoration:underline #CCE6F4;
}