@import '@coreui/coreui/dist/css/coreui.min.css';

.App {
  text-align: center;
}

body {
  background-color: #CCE6F4;
}

.headerxd {
  background-color: #175676;
}

.title {
  text-align: center;
  color: #175676;
  font-size:xx-large;
}

