@import '@coreui/coreui/dist/css/coreui.min.css';

/* General classes */

.App {
  text-align: center;
}

body {
  background-color: #CCE6F4;
}

.headerxd {
  background-color: #175676;
}

.title {
  text-align: center;
  color: #175676;
  font-size:xx-large;
}

.forms {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
